body {
    background-color: lightblue;
}
.categories {
    font: 30px/34px Georgia serif;
    font-weight: bold;
    color: brown;
    padding: 15px;
    width: 300px;
}
.category-list {
    margin: 20px;
    background-color: khaki;
    border: 2px solid darkslategrey;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}
.category-list:hover {
    background-color: lightgreen;
    border: 2px solid darkgreen;

}